@import '../../Styles/global';
@import '../../Styles/mediaQueries';
@import '../../Styles/mixin';

.body_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;

  &--container {
    width: 100%;
    height: 100%;
    background-color: $secondaryColor;
    padding: 0 20px;
    box-sizing: border-box;

    @include gt-sm {
      padding: 0 40px;
    }

    &-header {
      display: inline-block;
      width: auto;
      padding: 0px 20px 0px 0px;

      img {
        cursor: pointer;
      }
    }

    &-hamburger {
      float: right;
      height: 100%;
      width: 40px;
      background: transparent;
      border: none;
      position: relative;
      cursor: pointer;

      &.active {
        .one {
          transform: rotate(45deg);
        }

        .two {
          width: 0;
        }

        .three {
          transform: rotate(-45deg);
        }
      }

      @include gt-sm {
        display: none;
      }

      &-span {
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: #555;
        display: block;
        margin: 5px auto;
        transform: rotate(0);
        transform-origin: left;
        opacity: 1;
        transition: .3s all ease-in-out;
      }
    }

    &-list {
      display: flex;
      padding-right: 40px;
      margin: 0;
      list-style: none;
      align-items: center;
      float: right;
      height: 100%;
      justify-content: space-between;

      &.mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 05px;
        background-color: #cfcfcf;
        box-sizing: border-box;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: auto;
        padding: 0 20px;

        @include gt-sm {
          flex-direction: initial;
          position: relative;
          top: auto;
          right: auto;
          background-color: transparent;
          border: none;
          height: 100%;
          padding: auto;
        }

        li {
          justify-content: center;
          padding: 5px 0px;

          @include gt-sm {
            justify-content: initial;
            padding: initial;
          }
        }
      }

      @include lt-md {
        display: none;
      }

      &-item {
        min-width: 110px;
        height: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
        
        &-title {
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}